
/* To prevent Navbar from changing positions when page does not have scroll bar. */
html
{
  overflow-y: scroll;
  background: #f3f3f3;
}
.App {
  text-align: left;
  font-family: "Oswald", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-size: 16px;


}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
  background: white;
  color: black;
  box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #faa919;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  line-height: 120%;
  color: #009A7B;
}

h3 {
  font-size: 1.2rem;
}

button {
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border: none;
}

button:hover {
  background-color: gray;
}

.logo {
  height: 100px;
  width: auto;
  padding: 1rem;
}

p {
  margin: auto;
  margin-bottom: 18px;
  font-weight: 10;
  font-size: 12pt;
  color: #ffb83c;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.top {
  background-color: #009A7B;
  height: 70px;
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 350;
}

.link {
  color: white;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #faa919;
}

.home p {
  color: black;
  line-height: 25pt;
  margin-bottom: 8%;
}

.home h1 {
  color: black;
  font-size: 42pt;
  line-height: 60pt;
  letter-spacing: 1.8pt;
  margin-bottom: 7%;
  margin-top: 6%;
  margin-right: 0.5%;
}

.home h3 {
  color: #faa919;
  font-size: 12pt;
}

.home-top {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.home-top > div {
  width: 50%;
}

.home-top > img {
  width: 35%;
  margin-left: auto;
  margin-bottom: auto;
}

.home-top button {
  margin-top: 4%;
}

.home-container {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("./images/home-main.png");
  background-size: cover;
  min-height: 700px;
  background-position: center 34px;
}

.donate-btn {
  background-color: #009A7B;
  border: solid #009A7B 2px;
  color: #faa919;;
  padding: 0.2rem 1.4rem;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: bold;
  text-transform: uppercase;
}

.donate-btn:hover {
  background-color: transparent;
  color: #009A7B;
  text-decoration: none;
}

.section {
  padding: 120px;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  margin: auto;
  padding: 50px;
  padding-top: 0;
}

.image {
  object-fit: cover;
  max-width: 50%;
  margin: auto;
}

.reverse {
  flex-direction: row-reverse;
}

@media (max-width: 667px) {
  .image {
    max-width: 100%;
    margin: 0;
  }
}

.column {
  margin-bottom: 2%;
}

.column-img,
.column-h,
.column-p {
  width: 100%;
  text-align: left;
}

.column-h {
  margin-bottom: 4%;
  margin-top: 4%;
}

.donate-img {
  width: 200px;
}

.services-main {
  width: 80%;
  height: auto;
  margin-bottom: 5%;
}

.services-img {
  object-fit: contain;
}

.home-page-top {
  margin-left: 12%;
  margin-right: 12%;
}

.line-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 4%;
}

.line-header:before,
.line-header:after {
  content: "";
  border-top: 2px solid;
  flex: 0.26 0 20px;
}

.instagram {
  width: 100px;
}

.facebook {
  padding: 30px;
  width: 105px;
}

.icon {
  padding: 20px;
  width: 90px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flyer {
  background-color: rgb(255, 236, 208);
}

.welcome {
  background-color: #faa919;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 45%;
  text-align: left;
}

.welcome > h3 {
  color: #009A7B;
  font-weight: 500;
  margin-bottom: 1%;
}

.welcome > p {
  color: rgb(255, 236, 208);
  padding-right: 12%;
}

.home-data {
  background-color: rgb(255, 236, 208);
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
}

/* NEWS AND EVENTS */

.news-events-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://images.unsplash.com/photo-1564189365442-987dc2d76f7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80");
  background-position: center;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
}

.news-events-image h1 {
  color: white;
  font-size: 40pt;
}

.calendar-container {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.donate {
  text-align: left;
  line-height: 25pt;
}

.donate p {
  color: black;
}

.donate h3 {
  color: #faa919;
}

.donate h3, .donate h4 {
  line-height: 22pt;
}

.donations-container {
  display: inline-flex;
  margin: 1.5%;
  gap: 15%;
}

.donations-container > * {
  flex: 1;
}

.donate-row, .donate-header, .appr-of-funding > *,
.services-main, .column-container {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.donate-header > * {
  margin-bottom: 2%;
}

.donate-header > h2 {
  margin-top: 5%;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
}

.donate-links {
  display: flex;
  flex-wrap: wrap;
}

.donate-links img {
  height: 30px;
}

.donate-links p {
  margin-left: 8%;
}

.donate-links a {
  display: flex;
  margin-right: 5%;
}

.affiliate-container {
  display: flex;
  margin-bottom: 1%;
}

.affiliate-img {
  width: 100%;
  margin-top: 10%;
  margin-left: auto;
  margin-bottom: auto;
}

.affiliate-container > div > div {
  margin-bottom: 4%;
}

.appr-of-funding {
  margin: 0;
  background-color: #e9e9e9;
}

.appr-of-funding h2 {
  padding-top: 5%;
}

.funding-container, .column-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1%;
}

.funding-container h4 {
  font-size: 16pt;
}

.funding-container > * {
  margin-bottom: 1%;
}

@media screen and (min-width: 1200px) {
  .get-help-top {
    background-position: center -180px;
  }
}

@media screen and (min-width: 900px) {
  .funding-container > *, .column-container > * {
    max-width: 29%;
  }
}

@media screen and (max-width: 1200px) {
  .get-help-top {
    background-position: center -110px;
  }
}

@media screen and (max-width: 900px) {
  .funding-container > *, .column-container > * {
    max-width: 46%;
  }

  .get-help-top {
    background-position: center -20px;
  }
}

@media screen and (max-width: 600px) {
  .funding-container > *, .column-container > * {
    max-width: 99%;
  }

  .get-help-top {
    background-position: center -10px;
  }
}

.btm-pd {
  padding-bottom: 5%;
}

.col-md, .col-md-6, .col-lg-4 {
  padding: 0;
}

.slider-img {
  list-style: none;
  max-height: 100%;
  max-width: 90%;
}

.swiper-container {
  margin: auto;
  width: 100%;
  height: 700px;
  margin-bottom: 2%;
}

@media screen and (min-width: 800px) {
  .swiper-container {
    width: 768px;
  }
}

.image-slides .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-slides .swiper-slide > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-slides .swiper-slide {
  width: auto !important;
}

.image-slides .swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-button-prev {
  color: #009A7B !important;
}

.swiper-button-next {
  color: #009A7B !important;
}

.swiper-pagination-bullet-active {
  background-color: #009A7B !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 30px !important;
}




/* Row -bootsrap remove Margin */

.row
{
  margin: 0;
}

.home-section
{
  max-width: 1334px;
  margin: 0 auto;
}

.home-col-title
{
  text-align: center;
  margin-top:3rem;

}
@media screen and (max-width: 700px)
{
  .home-col-title
  {
    padding: 1rem;
  }
}
.home-col-title h1, p
{
  padding: 0 !important;
  margin: 0 !important;
}

.home-col-title h1
{
  font-size: 36px;
  line-height: 72px;
  letter-spacing: normal;
}

.home-col-title p
{
  line-break: normal;
  margin: 0 auto;
}

/* Featured Events */
.featuredEventsContainer
{
  max-width: 100%;
  background-color: #F3F3F3;
  height: auto;
  padding: 2rem 0;
}
.featuredEvents
{

  height: auto;
  max-width: 1440px;
  margin: 0 auto;

}



/* Responsive */
@media  screen and (max-width: 900px)
{
  .upcomingEvents
  {
    justify-content: center;
  }

  .featuredEvents h4
  {
    text-align: center;
    padding: 2rem 0;

  }

  .upcomingEvents img
  {
    margin-bottom: 1rem;
  }

}

.upcomingEvents img
{
  height: 318px;
  width: auto;
  padding: 0;
  margin: 0;
}

/* @media screen and (max-width: 800px)
{
  .upcomingEvents img
  {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
} */

.featuredEvents h4
{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 42px;
  padding-left: 1rem;
}

/* Upcming Events List */
.upcomingEventsList
{
  display: flex;
  flex-direction: column;
  /* padding-left: 2rem; */
}
.upcomingEventsList h4
{
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.upcomingEvents
{
  border-right: 1px solid black;
}

@media screen and (max-width: 900px)
{
  .upcomingEvents
  {
    border-right: none;
  }

}

/* Past EVents */

.pastEventsCol
{
  height: 100%;
}
.pastEventsCol h4
{
  padding-left: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}
/* ----------------------------------------------------------------------- */
.contact-top {
  height: 400px;
  background: linear-gradient(to right, #faa919, #009A7B);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-top h1, .contact-top h3 {
  color: white;
}

.contact-top h1 {
  font-size: 62pt;
  letter-spacing: 10px;
  margin-bottom: 3%;
}

.contact-top h3 {
  font-size: 26pt;
  letter-spacing: 4px;
  font-weight: 300;
}

.contact-container {
  display: flex;
  margin: 6%;
  margin-left: 8%;
  margin-right: 4%;
  justify-content: space-between;
}

.contact-container h2, .contact-container p {
  color: black;
}

.contact-container p {
  font-size: 16pt;
  line-height: 40px;
  letter-spacing: 3px;
}

.contact-container h3 {
  font-size: 32pt;
  margin-top: 8%;
  margin-bottom: 3%;
  letter-spacing: 2px;
}

.contact-container h2 {
  font-size: 46pt;
  letter-spacing: 3px;
  font-weight: 200;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 16px;
  margin-top: 4%;
  border: 1px solid gray;
  border-radius: 6px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: lightgray;
  letter-spacing: 3px;
}

.contact-form textarea {
  height: 150px;
}

.contact-info {
  width: 32%;
}

.contact-info span {
  color: #faa919;
}

.contact-submit {
  width: 200px !important;
  letter-spacing: 3px;
  font-size: 14pt;
  color: white;
  background-color: #009A7B;
  border: none !important;
  border-radius: 0 !important;
}

.rbc-toolbar-label {
  font-size: 26pt;
  font-weight: 300;
}

.rbc-header {
  color: white;
  padding: 1% !important;
  border: black !important;
}

div.rbc-row.rbc-month-header {
  background: black;
}

/* GET HELP Page */

.GetHelp {
  background-color: #f3f3f3;
  padding-bottom: 5%;
}

.get-help-top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/hands-in-heart.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  height: 420px;
}

.get-help-top h1 {
  color: white;
}

.get-help-container {
  display: flex;
  justify-content: space-around;
  margin: 6%;
  margin-left: 8%;
  margin-right: 8%;
}

.get-help-container img {
  max-width: 360px;
}

.get-help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  border: solid gray;
  border-radius: 15px;
  background-color: white;
}

.get-help-card h2, .get-help-card p {
  color: black;
  margin: 4%;
}

.get-help-card h2 {
  font-size: 26pt;
}

.get-help-card p {
  font-size: 12pt;
  max-width: fit-content;
  text-align: center;
}

.get-help-card button {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 14pt;
  color: white;
  background-color: #009A7B;
  border: none;
  margin-top: 6%;
}

.get-help-card a {
  margin-top: 3.5%;
  width: 40%;
}

.outreach-container {
  margin-left: 14%;
  margin-right: 14%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid gray;
  border-radius: 10px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
}

.outreach-container h2 {
  color: black;
  font-size: 34pt;
}

.outreach-container p {
  color: black;
  font-size: 17pt;
  margin: 1% !important;
}

.outreach-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.outreach-form p {
  margin-left: 0 !important;
  margin-top: 3% !important;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
}

.outreach-form input[type='checkbox'] {
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.outreach-form input, .outreach-form textarea, .outreach-form select {
  width: 100%;
  padding: 16px;
  margin-top: 4%;
  border: 1px solid gray;
  border-radius: 6px;
}

.outreach-form input::placeholder, .outreach-form textarea::placeholder {
  color: lightgray;
  letter-spacing: 3px;
}

.outreach-form textarea {
  height: 150px;
}

.outreach-submit {
  width: 200px !important;
  letter-spacing: 3px;
  font-size: 14pt;
  color: white;
  background-color: #009A7B;
  border: none !important;
  border-radius: 0 !important;
}

/* ABOUT Page */

.about-container
{
  position: relative;
  margin: 0;
  padding: 0;
}